.block-generic_content {
	background-color:white;
	.layout-content{
		padding-bottom:100px;
		padding-top:100px;
		@include shadow
	}
	@media #{$bp-tab} { //max 959px
		padding-top:60px;
		padding-bottom:60px;
	}
	@media #{$bp-mobile} { //max 659px
		padding-top:60px;
		padding-bottom:60px;
		.gc-content{
			padding-left:15px;
			padding-right:15px;
		}
	}

}