.block-textAction {
	&.clear{
		background-color:transparent;
	}
	&.dark-bg{
		background-color:$jaguar_blue;
		.row{
			[class*="col-"] {
				.col-content{
					h3,p,a{
						color:white !important;
					}
					.tfcu-button{
						&:hover{
							color:$jaguar_blue !important;
						}
					}
				}
			}
		}
	}
	&.white{
		background-color:white;
	}
	&.light-bg{
		background-color:$jaguar_lightblue;
	}
	&.dark-bg{
		.row{
			[class*=col-]{
				.col-content{
					color:white !important;
				}
			}
		}
	}
	padding-top:90px;
	padding-bottom:90px;
	position:relative;
	.row{
		[class*="col-"] {
			&.block-hr.yellow{
				border-top:solid 1px $jaguar_yellow;
			}
			.col-content{
				margin:0px;
				padding:0px;
//				padding-top:35px;
				font-size:28px;
				line-height:32px;
				color:$jaguar_black !important;
				&.right{
					@media #{$bp-tab} {
						margin-top:20px;
					}		
				}

				.col-hr-holder,.col-hr{
					//height:2rem;
				}
				.col-hr{
					border-top:solid 1px $jaguar_yellow;
				}
				h3{
					font-size:36px;
				}
				p, p span{
					font-size:28px;
					margin-bottom:30px;
					line-height:32px;
					color:$jaguar_black !important;
				}
				.tfcu-button{
				border-radius:0;
		background-color:$jaguar_blue;
		border:solid 1px white;
		color:$jaguar_white;
		//margin-bottom:90px;
				}
			}
		}
	}
	@media #{$bp-tab} {
		padding-top:40px !important;
		padding-bottom:40px !important;
		.col-lg-6.no-gutter{
			padding-left:15px !important;
			padding-right:15px !important;
		}
		.col-content{
			.tfcu-button{
				margin-top:80px;
				width:100% !important;
			}
		}
		
	}
}