$logo_time: .5s;
$sec_logo_time: .25s;
.block-navigation {
	z-index:9999;
	.tagline{
	display:none;
		background-color:$jaguar_blue;
		.tag{
			color:$jaguar_white;
			margin-top:15px;
			margin-bottom:15px;
		}
	}
	.navigation{
		z-index:9999;
		background-color:rgba(255,255,255,0.3);
		width:100%;
		text-align:center;
		margin-bottom:0;
		margin-top:0;
		position:fixed;
		top:0;
		left:0;
		.container-fluid{
			.mobile-nav,.special-nav{
				padding-top:25px;
				padding-bottom:25px;
				transition: padding $logo_time ease;
				float:right;
				padding-right:15px;
				margin-right:10px;
				.menu-button{
					.menu-close{
						display:none;
					}
				}
			}
			.special-nav{
				margin-top:-2px;
				a, a:visited, a:active{
					color:$jaguar_black;
					font-size:18px;
					font-weight:800;
					letter-spacing:1px;
					margin-right:7px;
					&:hover{
						color:$jaguar_lightgray !important;
						text-decoration:none;
					}
					&:nth-child(2){
						margin-right:0;
						&:before{
							margin-right:7px !important;
							content:" | ";
						}
					}
				}
			}
			.logo-wrapper{
				a{
					display:inline-block;
				}
				float:left;
				padding-top:20px;
				padding-bottom:10px;
				transition: padding $logo_time ease;
				.logo,.secondary-logo{
					display:block;
					-webkit-backface-visibility: hidden;
					-webkit-perspective: 1000;					
transform: scale(0.8, 0.8);
				}

				.secondary-logo-wrapper{
					height:38px;
					-webkit-backface-visibility: hidden;
					-webkit-perspective: 1000;					
					overflow:hidden;					
					transition: height $sec_logo_time ease, margin-top $sec_logo_time ease;	
				}
			}
			.mobile-menu{
				.primary-nav{
					height:0;
					transition-property: height;
					transition-duration: 2s;
					overflow:hidden;
					list-style:none;
					margin-block-start: 0;
				    margin-block-end: 0;
				    margin-inline-start: 0px;
				    margin-inline-end: 0px;
				    padding-inline-start: 0px;	
				}
			}
			.main-nav{
				float:right;
				ul.primary-nav{
					list-style:none;
					margin-block-start: 0;
				    margin-block-end: 0;
				    margin-inline-start: 0px;
				    margin-inline-end: 0px;
				    padding-inline-start: 0px;	
					padding-top:40px;
					transition: padding-top 1s ease;

					li{
						padding:20px;
						float:left;
					    position: relative;
					    display: inline-block;
						&.menu-item-has-children{
							padding-right:44px;
							&::after{
								position:absolute;
								top:27px;
								right:20px;
								color:white;
								content: "";
								width:14px;
								height:8px;
								background: transparent url('../../mason-modules/navigation/images/Icon-Dropdown-Gray.svg') no-repeat;
							}
							&:hover::after{
								background: transparent url('../../mason-modules/navigation/images/Icon-Dropdown-Blue.svg')						
							}
						}

						&:first-child{
							margin-left:0;
						}
						a, .sub-nav a, a:active,a:visited,.sub-nav a:active,.sub-nav a:visited{
							font-family:'Questrial';
							font-size:16px;
							letter-spacing:1px;
							color:$jaguar_blue;
							text-transform:uppercase;
							text-decoration:none !important;
							&:hover{
								text-decoration:none;
							}					
						}
						.sub-nav{
							width:150%;
							border-top:solid 2px $jaguar_yellow;
							background-color:$jaguar_white;
							z-index:9999;
							padding:30px;
							list-style:none;
							display:none;
							text-align:left;
							position: absolute;
							top: 62.4px;
							right: 0px;	
							box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.08);
							li{
								text-align:left;
								margin:0 !important;
								padding:0 !important;
								display:block;
								border-bottom:0;							
								&:hover{
									background:white !important;
								}
								a{
									font-size:14px;
									line-height:38px;
									letter-spacing:1px;
									text-transform:uppercase;
									font-family:'Questrial';
									text-decoration:none !important;
								}
								&.main-link{
									a{
										font-size:16px;
										font-family:'Questrial';
										text-decoration:none !important;
									}
								}							
							}
						}
						&:hover{
							background-color:$jaguar_yellow;
							.sub-nav{
								display:inline-block;
							}
						}

					}
				}
			}
		}
	}
	.sub-navigation{
		background-color:$jaguar_blue;
		height:60px;
		width:100%;
		padding-top:20px;
		padding-bottom:20px;
	//	text-align:center;
		ul{
    		@include ulReset
    		display:inline-block;
			li{
				display:inline-block;
				text-align: center;
				margin-right:40px;
				a{
					line-height:20px;
					text-transform:uppercase;
					letter-spacing:1px;
					color:$jaguar_white;
				}
			}
		}
		color:$jaguar_white;
		@media #{$bp-tab}{
			padding-left:30px;
			padding-right:30px;
		}
	}
	&.open-mobile{
		.logo-wrapper{
			//display:none;
		}
	}

		
	@media #{$bp-tab}{
		.navigation{
			.container-fluid{
				.logo-wrapper{
					padding-left:15px;
					.logo,.secondary-logo{
						display:block;
					}
				}
				.mobile-nav{
					display:inline-block;
				}
				.main-nav{
					display:none;
				}
			}
		}
	}
	.mobile-navigation{
		height:0;
		overflow:hidden;
		z-index:10;
		width:100%;
		text-align:center;
		margin-bottom:0;
		margin-top:0;
		background-color:$jaguar_white;
		position:absolute;
		top:0;
		left:0;
		height:0;
		transition-property: height;
		transition-duration: 1s;		
			.container-fluid{
				width:100% !important;
				@media #{$bp-mobile}{
					padding-left:15px;
					padding-right:15px;
				}
				.primary-nav{
					text-align:left;
					display:inline-block !important;
					margin-top:55px;
					width:100%;
					.primary-nav{
						overflow:hidden;
						display:inline-block;
						.menu-item-wrapper{
							text-align:left;
						}
					}
					.menu-close-wrapper{
						display:block;
					}

				}

			}

	}
	.mobile-menu{
		height:0;
		transition-property: height;
		transition-duration: 1s;
	}
	&.open-mobile{
			@media #{$bp-tab}{
				height:calc(100vh + 10px);
			}
			@media #{$bp-mobile}{
				height:1200px;
			}

		.mobile-navigation{
			height:calc(100vh + 10px);
			@media #{$bp-mobile}{
				height:1200px;
			}
			transition-property: height;
			transition-duration: 1s;		
			.mobile-menu{
				height:calc(100vh + 10px);
				@media #{$bp-mobile}{
					height:1200px;
				}
				transition-property: height;
				transition-duration: 1s;
				.mobile-and-footer{
					text-align:left;
					padding-left:15px;
				}
			}
		}
		#mobile-nav-wrapper-close{
			width:100%;
			.mobile-nav-close{
				float:none;
				text-align:center;
				padding-right:0;
				margin-right:0;
				.menu-button-close{
					margin-top:56px;
					.menu-close{
						display:inline-block !important;
					}
				}
			}
		}
	}
}

.stuck-header{
	.block-navigation {
		.container-fluid{
			.mobile-nav, .special-nav{
				padding-top:30px;
				padding-bottom:30px;
				transition: padding-top $logo_time ease, padding-bottom $logo_time ease;
			}

			.logo-wrapper{
				padding-top:15px;
				padding-bottom:15px;
				transition: padding $logo_time ease;
				.secondary-logo-wrapper{
					height:0;
					margin-top:0;
					transition: height $sec_logo_time ease, margin-top $sec_logo_time ease;					
				}
			}
			.main-nav{
				ul.primary-nav{			
					padding-top:0px;
					transition: padding-top 1s ease;			
				}
			}

		}		
	}
}
body.open-mobile{
	//overflow:hidden;
	padding-bottom:0 !important;
	.site-content,.site-footer{
		display:none;
	}
}
@media #{$bp-mobile} {
	.special-nav{
		display:none;
	}
}