$header-height-599:223px;
$header-height-939:500px;
$header-height-1240:500px;
$header-height-plus:500px;
$header-height-half-599:223px;
$header-height-half-939:223px;
$header-height-half-1240:223px;
$header-height-half-plus:223px;
.module{
	clear:none;
}
.block-card {
	//display:none;
	.layout-content{
	}
		.container-card.container-fluid.container-lg{
			//margin-right:-15px;
			//width:100% !important;
			//padding-left:0 !important;
			@media #{$bp-tab}{
				padding-left:15px !important;
				padding-right:15px !important;
			}
			@media #{$bp-mobile}{
				padding-left:30px !important;
				padding-right:30px !important;
			}
			@media #{$bp-desk-min}{
				max-width:1200px;
				padding-left:45px !important;
				padding-right:45px !important;
			}
			//overflow:visible;
			.row.slick-slider{
			//	overflow:visible;
			}
		}
		.shadow-card{
			width:390px;
			@media #{$bp-tab}{
				width:315px;
			}
			margin-bottom:0;
			margin-right:15px;
			position: relative;
			padding-bottom: 0;
			padding-top: 0;
			.video-btn{
				z-index:12;
				display:inline-block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				text-decoration:none;
				padding:15px; 
				svg{
					fill-opacity:1;
					height:100px;
					width:100px;
				}
			}
			.layout-content {
				line-height:normal;
				display:inline-block;
				width: 100%;
			}
			.bg-image {
				position:relative;
				height:$header-height-plus;
				margin: 0px auto;

				width: 100%;
				//max-width:390px;
				@media #{$bp-tab}{
					max-width:315px;
				}
				@media #{$bp-desk-min}{
					width:390px;
				}

				background-size: cover;
				background-position:  center;
				overflow: hidden;
				.video {
					position: absolute;
					height:100%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: 1;
					width: 100%;
				}
				.img-overlay {
					position: absolute;
					top: 0;
					z-index:9;
				 	margin: 0px auto;
					height:$header-height-plus;
					@card only screen and (max-width: 939px) {
						height: calc( #{$header-height-939} );
					 	margin: 0px auto;

					}
					@card only screen and (max-width: 599px) {
						height: calc( #{$header-height-599} );
					}
					width: 100%;
					max-width:1220px;

				}
			}

			.card-foot-content{
				display:inline-block;
				position:relative;
				width:100%;
				text-align:left;
				background-color:$jaguar_white;
				.title-wrap{
					display:inline-block;
					padding:30px;
					.content{
						font-size:14px;
					}
					.inde-btn{
						margin-top:30px;
					}
				}
			}

			.img-block-wrap.half-width {
				display: inline-block;
				width: 50%;
				position: relative;

				&:first-of-type {
					border-right: 1px solid #f5f5f5;
				}
				.bg-image {
					@card only screen and (max-width: 1400px) {
						height: auto;
						padding-bottom: 100%;
					}
				}
			}
		}
	
	@card #{$bp-desk} {
		.card-foot-content{
			padding-left:0;
			.top-bar{
				width:100%;
				height:30px;
				display:block !important;
				float:none;
			}
			.left-bar{
				display:none !important;
			}
		}
	}
}
.block-card{
	.interior-container{
		@card only screen and (max-width: 599px) {
			display:block;
			//width:100%;
		}
		.shadow-card.half-width{
			margin:15px;

			display:inline-block;
			width: calc(50% - 30px);
			font-size:0;
	//		max-width:587px;
			position:relative;
			top:0;
			height:100%;
			vertical-align:top;
			float:left;
			&._second{
				float:right;
				margin-left:60px;
			}
			@card only screen and (max-width: 599px) {
				//margin:0 !important;
				float:none !important;
				display:block;
				width:calc(100%);
				margin-top:60px !important;
				&._second{
					margin-left:0;		
				}
			}
			.bg-image {
				position:relative;
				height:$header-height-half-plus;
			}
			.card-foot-content{
				padding-left:0;
				.blue-line{
					height:4px;
					width:60px;
					margin-left:80px;
				}
				.top-bar{
					width:100%;
					height:30px;
					display:block;
					float:none;
				}
				.left-bar{
					display:none;
				}
				.title{
					width:100%;
					text-align:center;
					margin:0 !important;
					padding:0;
					.title-wrap{
					line-height:normal;
						width:100%;
						text-align:center;
						.button-wrapper{
						display:inline-block;
							.udrive-button{
							}
						}
					}
				}

			}
			.card-foot-content{
				width:calc(100% - 20px);
				display:block !important;
				.title{
					overflow:hidden;
					width:100%;
				}
			}
		}
	}
	@media #{$bp-mobile} {
		.interior-box{
			max-width:100% !important;
			padding:30px;
			.shadow-card{
				padding:0;
				margin:0;

				&.half-width{
					padding:0;
					margin:0;
					width:100% !important;
					margin-bottom:60px;
				}
				.title-wrap{
					padding:30px !important;
					padding-bottom:60px !important;
				}
			}
		}
	}
}