body{
	.site{
		background-repeat: repeat;
		background-attachment: fixed;
	//	background-image: url("../../images/INDE-BG-White-1x.png");
	//	background-image: -webkit-image-set (url("INDE-BG-White-1x.png") 1x, url("INDE-BG-White-2x.png") 2x );	
	}
}
.module {
  clear: both;
}
.no-gutter{
	padding-left:0;
	padding-right:0;
}

a.inde-btn{
	text-transform:uppercase;
	padding:10px 15px;

	background-color:$jaguar_green;
	float:left;
	border-radius:4px;
	font-family:'Questrial';
	font-size:14px;
	text-decoration:none;
	display:inline-block;
	text-align:center;
	color:$jaguar_white !important;
	&:hover{
		background-color:$jaguar_darkyellow !important;
	}
	&.btn-blue{
		background-color:$jaguar_blue;
		color:$jaguar_white;
	}
}
//$mw_lg : 1260px;
//$mw_in_mini: 315px;
//$mw_in_sm: 600px;
//$mw_in_lg: 800px;

.container-fluid{
	//background-color:yellow;
}
.container-md{
	max-width: 800px;  
}
@media #{$bp-desk-min} {
	.container-lg{
		max-width:1260px !important;
	}
}
.container-md.container-sm{
	max-width: 800px;  
	padding-right:15px;
	padding-left:15px;
	@media #{$bp-tab} {
		max-width:600px;
		padding-right:15px;
		padding-left:15px;
	}
}
@media #{$bp-mobile-min} {
	&.container-md.container-sm{
		padding-left:0 !important;
		padding-right:0 !important;
	}
}
@media #{$bp-tab-min} {
	&.container-md.container-sm.container-lg{
		padding-left:0px !important;
		padding-right:0px !important;
	}
}
@media #{$bp-desk-min} {
	&.container-md.container-sm.container-lg{
		max-width:1260px;
		padding-left:30px !important;
		padding-right:30px !important;
	}
}
.container-card{
	@media #{$bp-tab-min} {
		&.container-md.container-sm.container-lg{
			padding-left:15px !important;
			padding-right:15px !important;
		}
	}
	@media #{$bp-desk-min} {
		&.container-md.container-sm.container-lg{
			padding-left:30px !important;
			padding-right:30px !important;
		}
	}
}
.container-lg.container-card{
//	padding-left:45px;
//	padding-right:45px;	
}
@media #{$bp-tab-min} {
	.container,.container-fluid{
		padding-left:30px;
		padding-right:30px;
	}	
}