html, body{
	font-family: 'Questrial';
}

// Copy & Lists 
p {
}

ul li,
ol li {
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;

  &:hover {
	text-decoration: underline;
	color:$jaguar_blue !important;
	cursor:pointer;
  }
  &:active, &:focus, &:visited {
	color: inherit;
  }
}
.spec{
	font-size:18px;
	color:#FF00EB;
	padding-bottom:20px;
	border-bottom:solid 1px #707070;
	background-color:#dcdcdc;
	padding-left:20px;
	padding-top:10px;
	&::before{
		content:"^"
	}
}
.spec-desk{
	display:block;
}
.spec-tab{
	display:none;
}

// Headings 
h1,h2,h3,h4,h5,h6{
	font-family: 'Questrial';
	margin-top:0;
	color:$jaguar_blue;
	b,em{
		font-family: 'Questrial';
		i{
			font-family: 'Questrialitalic';
		}
	}
	i{
		font-family: 'bas_italic';
	}
}
h1 {
	font-size:72px;
	line-height:72px;
	margin-bottom:40px;
}	
h2 {
	font-size:60px;
	line-height:60px;
	margin-bottom:40px;
}
h3 {
	font-size:48px;
	line-height:48px;
	margin-bottom:40px;
}
h4 {
	font-size:36px;
	line-height:48px;
	margin-bottom:30px;
}
h5 {
	font-size:24px;
	line-height:36px;
	margin-bottom:30px;
}
h6 {
	font-size:18px;
	line-height:24px;
	margin-bottom:30px;
}
p{
	font-size:16px;
	line-height:30px;
	//margin-bottom:30px;
	color:$jaguar_darkgray;
	@include pReset
	&.small{
		font-size:14px;
		line-height:24px;	
		//margin-bottom:20px;
	}
}
@media #{$bp-tab} {
	.spec-desk{
		display:none;
	}
	.spec-tab{
		display:block;
	}
	h1 {
		font-size:48px;
		line-height:48px;
//		margin-bottom:40px;
	}	
	h2 {
		font-size:48px;
		line-height:48px;
//		margin-bottom:40px;
	}
	h3 {
		font-size:36px;
		line-height:40px;
//		margin-bottom:40px;
	}
	h4 {
		font-size:24px;
		line-height:36px;
//		margin-bottom:30px;
	}
	h5 {
		font-size:18px;
		line-height:24px;
//		margin-bottom:30px;
	}
	h6 {
		font-size:18px;
		line-height:24px;
//		margin-bottom:30px;
	}
	p{
		
	}

}
// Tables
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}

// Code Blocks
code {
  vertical-align: bottom;
}
